/*
padding-top
padding-right
padding-bottom
padding-left*/

maim{
    width: 30px;
    margin: 0px 100px 0px 100000000px;
    clear: both;
}
header{
    margin: 0px;
    text-align: center;
    border: px solid black;
    border-radius: 15pt;
    background-color: rgba(0, 0, 0, 0.247);
}

.titulo_secao{
   /* float: left;*/
    text-align: left;

    float: left;
    padding: 100px;
    background-color:gray ;
}
section{
    clear: both;
}
nav.ul.li{
    display: inline;
}
ul{
    list-style: none;
    text-align: center;
} 
li{
    display: inline;
    margin: 0px;
}
ul.li.span.menu{
    font-size: 0%;
    background-color: blue;
}
div{
    display: block;
    float: left;
}
a{
    display: inline;
}
a:link,a:visited{
    color: black;
    text-decoration: none;
}
a:hover{
    color:blue;
    text-decoration: underline;
}
a:active{
    color: blue;
    text-decoration: none;

}